#prevButton {
  font-size: 40px;
}
#nextButton {
  font-size: 40px;
}
#prevButton:hover {
  color: white;
}
#nextButton:hover {
  color: white;
}
.carousel-indicators button {
  background-color: white !important;
}
#home {
  height: 100vh;
}
/* Carousel First Page Start */
#carouselFirstPage {
  color: white;
  text-shadow: 5px 5px 20px black;
}
#carouselFirstPage h1 {
  font-size: 50px;
}
#carouselFirstPage span {
  color: black;
  text-shadow: 5px 5px 30px rgb(77, 77, 77);
  font-weight: bold;
  animation: changeColor 4s infinite;
  transition: all 0.5s ease-in-out;
}
@keyframes changeColor {
 0%{
    color: transparent;
 }
 50%{
    color: white;
 }
 100%{
    color: transparent;
 }
}
@media screen and (max-width: 792px) {
  #carouselFirstPage h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  #carouselFirstPage h1 {
    font-size: 40px;
  }
}
/* Carousel First Page END */
/* Carousel Second Page START */

#carouselSecondPage {
  -webkit-text-stroke: 2px white;
  color: white;
  text-shadow: 5px 5px 20px black;
}
#carouselSecondPage h1 {
  font-size: 50px;
}
#carouselSecondPage span {
  color: black;
  text-shadow: 5px 5px 20px royalblue;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}
#carouselSecondPage span:hover {
  color: white;
  -webkit-text-stroke: 2px white;
}
/* Carousel Second Page END */