#aboutMe {
  /* background-color: rgb(231, 220, 220); */
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.3)),url('../images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}
#questionImgContainer1 {
  height: 500px;
  overflow: hidden;
  border-radius: 300px;
  box-shadow: 10px 10px 55px rgb(27, 11, 100);
}
#questionImgContainer1 {
  background: url("../images/about1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#questionImgContainer2 {
  height: 500px;
  overflow: hidden;
  border-radius: 300px;
  box-shadow: 10px 10px 35px black;
}
#questionImgContainer2 {
  background: url("../images/mahdi-dastmard-5B8Pw-t9_Wo-unsplash.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 55px rgb(24, 11, 100);
}

@media screen and (max-width: 1200px) {
  #questionImgContainer1 {
    display: none !important;
  }

  #questionImgContainer2 {
    display: none !important;
  }
}
.aboutMeContainer questionImgContainer2,
questionImgContainer1 {
  animation-name: backInRight;
  animation-duration: 2s;
}
.pcss{
  background: linear-gradient(to right,hsl(0,0%,30%) 0, rgb(255, 255, 255) 10%,hsl(0,0%,30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: shine 5s infinite linear;
}
@keyframes shine {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 620px;
  }
}
