#prevButton{
    font-size: 40px;
}
#nextButton{
    font-size: 40px;
}
#prevButton:hover{
    color: white;
}
#nextButton:hover{
    color: white;
}
.carousel-indicators button{
    background-color: white!important;
}
#home{
    height: 100vh;
}