#topSide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}
#bottomSide {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.githubCountIcon i {
  font-size: 30px;
}
.githubCountDescription{
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.githubCountDescription span{
  font-weight: 400;
}
.githubCount{
  background: linear-gradient(rgb(69, 92, 209,.3),rgb(69, 92, 209,.6));
  width: 200px;
  height: 200px;
  margin: 10px auto;
  clip-path: polygon(0% 20%,50% 0%, 100% 20%, 100% 80%,50% 100%, 0% 80%);
  transition: all .5s ease-in-out;
}
.githubCount:hover{
  transform: scale(1.2);
}
#myProject {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/menu.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* overlay START */
.projectContainer {
  position: relative;
  height: 300px;
  margin: 25px;
  min-width: 350px;
  box-shadow: 15px 15px black;
  
}
.imageOverlay{
  display: block;
  width: 100%;
  height: 100%;
}
.projectOverlay-1{
  position: absolute;
  top: 0;
  background-color: rgba(173, 124, 72,.7);
  overflow: hidden;
  width: 0;
  height: 0%;
  transition: all .5s ease-in-out;
  
}
.projectContainer:hover .projectOverlay-1{
  width: 100%;
  height: 100%;
}
.projectOverlay-2{
  position: absolute;
  bottom: 0;
  background-color: rgba(45, 85, 255,.7);
  overflow: hidden;
  width: 0;
  height: 0%;
  transition: all .5s ease-in-out;
}
.projectContainer:hover .projectOverlay-2{
  width: 100%;
  height: 100%;
}
.projectOverlay-3{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 45, 48, 0.7);
  overflow: hidden;
  width: 0;
  height: 0%;
  transition: all .5s ease-in-out;
}
.projectContainer:hover .projectOverlay-3{
  width: 100%;
  height: 100%;
}
.projectLink{
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
.projectLink i{
  color: #212529;
}

/* overlay END */

