* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
section {
  height: 100vh;
}
.heading{
  margin-bottom: 50px;
}
.heading h3{
 margin: 0!important;
 font-family: 'Gentium Book Plus', serif;
}
.headingBorder {
  clip-path: polygon(
    0% 45%,
    33% 45%,
    33% 30%,
    50% 50%,
    66% 30%,
    66% 45%,
    100% 45%,
    100% 55%,
    66% 55%,
    66% 70%,
    33% 70%,
    33% 55%,
    0% 55%
  );
  width: 250px;
  height: 50px;
}
